@keyframes orbit {
  0% {
    transform: rotate(calc(var(--angle) * 1deg))
      translateY(calc(var(--radius) * 1px)) rotate(calc(var(--angle) * -1deg));
  }

  to {
    transform: rotate(calc(var(--angle) * 1deg + 1turn))
      translateY(calc(var(--radius) * 1px))
      rotate(calc((var(--angle) * -1deg) - 1turn));
  }
}

.animate-orbit {
  animation: orbit calc(var(--duration) * 1s) linear infinite;
}

.\[animation-direction\:reverse\] {
  animation-direction: reverse;
}

.custom-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.header-dark {
  background: #1f2937f7;
  background-image: linear-gradient(
    137deg,
    rgba(255, 255, 255, 0.05) 17%,
    transparent 37%,
    transparent 26%,
    rgba(255, 255, 255, 0.05) 43%,
    rgba(255, 255, 255, 0.05) 23%,
    transparent 65%,
    transparent
  );
}

.header-light {
  background: #f9fafbf7; /* Light base color */
  background-image: linear-gradient(
    137deg,
    rgba(0, 0, 0, 0.05) 17%,
    transparent 37%,
    transparent 26%,
    rgba(0, 0, 0, 0.05) 43%,
    rgba(0, 0, 0, 0.05) 23%,
    transparent 65%,
    transparent
  );
}
