

@keyframes orbit {
    0% {
        transform: rotate(calc(var(--angle) * 1deg)) translateY(calc(var(--radius) * 1px)) rotate(calc(var(--angle) * -1deg))
    }

    to {
        transform: rotate(calc(var(--angle) * 1deg + 1turn)) translateY(calc(var(--radius) * 1px)) rotate(calc((var(--angle) * -1deg) - 1turn))
    }
}

.animate-orbit {
    animation: orbit calc(var(--duration)*1s) linear infinite
}

.\[animation-direction\:reverse\] {
    animation-direction: reverse
}
